body {
    margin: 0px;
}

#card {
    border-style: solid;
    border-width: 3px;
    width: 300px;
    padding: 10px;
    margin: 10px 10px 16px 10px;
    box-shadow: 6px 6px 5px rgb(120,153,153);
    border-radius: 5px;
    border-color: #002F47;
    background-image: url("background.png");
    background-position: left top;
}

#title {
    max-width: 300px;
    margin-bottom: 10px;
}

#picture {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

#information {
    border-style: solid;
    width: 274px;
    margin: 10px 0px 0px 0px;
    border-width: 3px;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    border-color: #002F47;
    background-color: rgba(255,255,255,0.67);
    color: #002F47;
    font-family: Nunito;
}

#interesting-fact {
	font-style: italic;
}

.list-items {
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding: 0;
}